<!--The content below is only a placeholder and can be replaced.-->
<div class="container abs-full">

  <div class="text-container">
    <div class="title">Happy</div>
    <div class="title">Fathers Day</div>
    <div class="title">Bill!</div>
  </div>

  <div class="boat-container">
    <img class="boat" src="../assets/boat.png" alt="HMS Victory">
  </div>

  <div class="cloud bigclouds"></div>
  <div class="cloud medclouds"></div>
  <div class="cloud smallclouds"></div>
  <div class="cloud tinyclouds"></div>
  <div class="cloud weirdclouds"></div>

  <div class="wave bigwaves"></div>
  <div class="wave bigwaves2"></div>
  <div class="wave medwaves"></div>
  <div class="wave smallwaves"></div>

</div>